 input{
    border-radius: 5px;
    border: 1px solid #888;;
    background-color: transparent;
    background-color: transparent;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 8px;
}

#Cal{
    margin-top: 20px;
}
.SetI{
    font-size:24px;
    color: #888;
    border-radius:50px;    
}
#div1{
    
    position: relative;
}